body {
    background-color: #99D9EA;
}

.blaueFormularbeschriftung {
    color: #3f48cc;
    font-size: 16px;
    font-weight: bold;
}

.ueberschrift {
    font-size: 22px;
    color: #3f48cc;
    margin-left: 15%;
}

.formular{
}