@import url('mainCSS.css');



.richtigerInput{
border:none;
border-color:none;
}

.falscherInput{
border:3px solid;
border-color:red;
}
select {
	width: 56%;
}
.bereichLinks {
    position: absolute;
    top: 20%;
}
.bereichLinksMitte {
    width: 20%;
    position: absolute;
    top: 20%;
    left: 15%;
}
.bereichMitteRechts {
    position: absolute;
    top: 20%;
    left: 40%;
}
.bereichRechts {
    position: absolute;
    top: 20%;
    left: 55%;
}
.bereichOben {
    position: absolute;
    top: 5%;
    left: 15%;
    font-size: 22px;
    color: #3f48cc;
    font-family: sans-serif;
}
.bereichUnten {
    position: absolute;
    top: 85%;
    left: 35%;
}
.checkboxenSchrift{
    font-family: sans-serif;
    font-size: 14px;
}
.checkboxenSchriftrechts{
    position: absolute;
    font-family: sans-serif;
    font-size: 14px;
    left: 65%;
}
.buttonFormularAbsenden{
    border: 3px solid;
    border-color: #3f48cc;
    background-color: #00a2e8;
    width: 250px;
}
