@import url('main.css');

h1 {
font-size: 22px;
color: #3f48cc;
}

#tabelle1 {
    margin-left:18%;
    text-align: center;
    position: absolute;
    border: 3px solid;
    border-color: #3f48cc;
    border-collapse: separate;
}

#tabelle2 {
    text-align: center;
	position:relative;
    border: 3px solid;
    border-color: #3f48cc;
    border-collapse: separate;
}

.center{
text-align:center;
margin-left: auto;
margin-right: auto;
}

.buttonsBuchgenre {
    width: 40%;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    border: solid;
    border-color: #3f48cc;
    background-color: #00a2e8;
}

.buttonsBuchgenre > a:hover {
    background-color: #3f48cc;
}

.buttonsBuchgenre:hover {
    background-color: #3f48cc;
}